body {
    background: #000;   
}

.container {
    font-family: Roboto;
    color: #ffffff;
    background: #000000;
    padding: 80;
    margin: 0 -40 0 0;
}

#main-game-section {
    font-family: Roboto;
    color: #000;
}

.jumbotron {
    color: #fff;
    text-align: left;
    background:url("https://s3-us-west-2.amazonaws.com/benji.to/img-sgd-jumbotron.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position:top;
    padding-top:140px;
    padding-bottom:140px;
    opacity: 1;
}